{
  "all": true,
  "include": ["**/src/**/*.js", "**/src/**/*.jsx"],
  "exclude": ["cypress/**", "coverage/**", "**/*.cy.js", "**/*.config.js"],
  "report-dir": "coverage",
  "temp-dir": ".nyc_output"
}
